body {

    background: url("https://res.cloudinary.com/dh18h6lff/image/upload/v1552061207/main-hero-desktop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}