<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Infinite Auto</title>
</head>
<body>



<div class="container">
    <div class="bg-secondary jumbotron jumbotron-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
            <a class="navbar-brand" href="/">
                <img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1552078200/rx-jelly.png" width="60" height="35" class="d-inline-block align-top"  alt="logo"/>
                Infinite Auto : The Best Car For You
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addCategory">ADD A CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addCar">ADD A CAR</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!---->
    <div class="btn btn-info">
        <h6 th:inline="text">  [[${details.carCategory}]]</h6>
    </div>
    <!---->
    <div class="row">

        <div  class="col-sm-12 col-md-4" th:each="car:${vehicle}"  th:if="${car.category.id == details.id}" ><br/>

            <div class="card">
                <div class="card-body">
                    <div th:if="${car.image}!= null">
                        <img th:src="${car.image}" alt="vehicle picture" class="img-responsive img-fluid " />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 th:text="${car.manufacturer}"></h5>
                    <h6 th:text="${car.model}"></h6>
                    <p th:text="${car.year}"></p>
                    <p th:text="${car.price}"></p>
                    <a th:href="@{/update/{id} (id=${car.id})}" class="btn btn-sm btn-secondary mt-3 text-white">Update</a>
                    <a th:href="@{/delete/{id} (id=${car.id})}" class="btn btn-sm btn-secondary mt-3 text-white">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>




</div>
</body>
</html>